/*-------------- Block style------------*/
.dib {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.db {
    display: block;
    padding: 0;
    margin: 0;
}

.dtc {
    display: table-cell;
    padding: 0;
    margin: 0;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.f-l {
    float: left !important;
}

.f-r {
    float: right !important;
}

.over-hidden {
    overflow: hidden;
}

/*-------------- Margin ------------*/
.mar0 {
    margin: 0 !important;
}

.mar10-0 {
    margin: 10px 0 !important;
}

/*-------------- Padding ------------*/
.pad0 {
    padding: 0 !important;
}

.pad0-10 {
    padding: 0 10px !important;
}

.pad0-20 {
    padding: 0 20px !important;
}

.pad0-36 {
    padding: 0 36px !important;
}

.pad10-36 {
    padding: 10px 36px !important;
}

.pad5-20 {
    padding: 5px 20px !important;
}

.pad10-20 {
    padding: 10px 20px !important;
}

.pad20-10 {
    padding: 20px 10px !important;
}

.pad0-0-5 {
    padding: 0 0 5px !important;
}

.pad0-0-10 {
    padding: 0 0 10px !important;
}

.pad0-0-20 {
    padding: 0 0 20px !important;
}

.pad10-0-20 {
    padding: 10px 0 20px !important;
}

.pad5 {
    padding: 5px !important;
}

.pad0-5 {
    padding: 0 5px !important;
}

.pad5-0 {
    padding: 5px 0 !important;
}

.pad5-10 {
    padding: 5px 10px !important;
}

.pad20-0 {
    padding: 20px 0;
}

.pad10-0 {
    padding: 10px 0;
}

.pad10 {
    padding: 10px !important;
}

.pad-l-60px {
    padding-left: 60px !important;
}

/*--------- Vertical Align ----------*/
.va-top {
    vertical-align: top !important;
}

.va-middle {
    vertical-align: middle !important;
}

.va-bottom {
    vertical-align: bottom !important;
}

/*---------- Font-Size ----------*/
.fz11 {
    font-size: 11px;
}

.fz12 {
    font-size: 12px !important;
}

.fz13 {
    font-size: 13px;
}

.fz14 {
    font-size: 14px;
}

.fz16 {
    font-size: 16px;
}

.fz20 {
    font-size: 20px;
}

.fz28 {
    font-size: 28px;
}

/*------------ Font-Weight ----------*/
.fs-i {
    font-style: italic;
}

.fw-slim {
    font-weight: 300;
}

.fw-regular {
    font-weight: 400;
}

.fw-semi-bold {
    font-weight: 600;
}

.fw-extra-bold {
    font-weight: 800;
}

/*---------- Text position -----------*/
.ta-r {
    text-align: right;
}

.ta-l {
    text-align: left !important;
}

.ta-c {
    text-align: center !important;
}

/*----------- Width option -----------*/
.w-auto {
    width: auto !important;
}

.w-full {
    width: 100%;
}

.w-half {
    width: 49.5%;
}

.w-13part {
    width: 32.5% !important;
}

.w-23part {
    width: 64%;
}

.w-34part {
    width: 74%;
}

.w-14part {
    width: 24% !important;
}

.w-15part {
    width: 19%;
}

.w-25part {
    width: 39%;
}

.w-35part {
    width: 59%;
}

.w-45part {
    width: 79%;
}

.w-95perc {
    width: 95%;
}

.w-90perc {
    width: 90%;
}

.w-50perc {
    width: 50% !important;
}

.w-05perc {
    width: 5%;
}

.w-10perc {
    width: 10%;
}

.w-70perc {
    width: 70%;
}

.w-30perc {
    width: 30%;
}

.h500 {
    height: 500px;
}

/*---------- Color -------------*/
.c-orange {
    color: #F6881F !important;
}

.c-white {
    color: #ffffff !important;
}

.c-blue {
    color: #3eb6e2 !important;
}

.c-green {
    color: #36b75d !important;
}

.c-gray {
    color: rgba(72, 72, 72, 0.7) !important;
}

.c-dark-gray {
    color: #878889 !important;
}

.c-black {
    color: #000 !important;
}

.c-red {
    color: #db0707 !important;
}

.fr-amount {
    color: #636363;
}

.bg-white {
    background-color: #ffffff !important;
}

.bg-blue {
    background-color: #3eb6e2 !important;
}

.bg-green {
    background-color: #36b75d !important;
}

.bg-gray {
    background-color: #b3b3b3;
}

.bg-light-gray {
    background-color: #eef0f1;
}

.bg-light-gray2 {
    background-color: #f9f9f9;
}

.bg-light-blue {
    background: rgba(61, 182, 225, 0.05);
}

/*----- Border -------*/
.bd-r5 {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.td-u:hover {
    text-decoration: underline;
}

.bd-1-blue {
    border: 1px solid #3eb6e2;
}

.bd-1-green {
    border: 1px solid #2ccc6a;
}

.bdb-1-gray {
    border-bottom: 1px solid #ececec;
}

.bdb-1-gray2 {
    border-bottom: 1px solid #f2f2f2;
}

.bdl-1-gray3 {
    border-left: 1px solid #e3e3e3;
}

.bdr-1-gray3 {
    border-right: 1px solid #e3e3e3;
}

.bdb-1-gray3 {
    border-bottom: 1px solid #e3e3e3;
}

.bdb-1-blue {
    border-bottom: 1px solid #3eb6e2;
}

.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

/*----- other -------*/
.scroll-element.scroll-x {
    display: none !important;
}