@import "header/header.css";
@import "main/main.css";
@import "footer/footer.css";

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: font-size 300ms;
    -moz-transition: font-size 300ms;
    -ms-transition: font-size 300ms;
    -o-transition: font-size 300ms;
    transition: font-size 300ms;
    color: #474747;
    background: #ffffff;
    font-size: 12px;
    font-weight: 600;
}

#wrap {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

section,
header,
main,
footer {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
}

a {
    cursor: pointer;
    color: #484848;
}

h3 {
    font-size: 14px;
}

select {
    height: 32px;
    font-size: 11px;
    color: #444444;
    width: 100%;
    padding: 0 4%;
    border: 1px solid #bdcbd1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 5px 0;
}

.c-block {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 980px;
    text-align: center;
    position: relative;
}

.content,
.reg-block,
.wide-block {
    display: block;
    position: relative;
    float: left;
}

.content {
    width: 620px;
    margin: 0 20px 0 20px;
}

.reg-block,
.wide-block {
    width: 780px;
    margin: 0 0 0 20px;
}

/*.c-body {*/
    /*padding: 20px 0 0;*/
/*}*/

/*.c-body:last-of-type {*/
    /*padding: 20px 0 20px;*/
/*}*/

/*.c-body > p {*/
    /*text-align: left;*/
    /*padding: 5px 0;*/
    /*width: auto;*/
    /*display: inline-block;*/
/*}*/

.img-col,
.data-col {
    display: table-cell !important;
    vertical-align: middle !important;
    line-height: normal !important;
    position: relative;
}

.data-col {
    padding: 0 10px !important;
}

.img-mask {
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    overflow: hidden !important;
    display: inline-block !important;
    padding: 0 !important;
    position: relative;
    margin: 0 0 -4px 0;
}

.vp-photo-mask {
    width: 45px;
    display: inline-block;
    height: 45px;
    overflow: hidden;
    padding: 0;
    position: relative;
    margin: 0 0 -4px 0;
}

.img-mask.avatar {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    background: #eaeaea;
    margin: 5px;
    border: 1px solid #cccccc;
    text-align: center;
}

.img-mask.large {
    width: 60px;
    height: 60px;
}

.img-mask.middle {
    width: 40px;
    height: 40px;
}

.img-mask.small {
    width: 30px;
    height: 30px;
}

.img-mask.mini {
    width: 18px;
    height: 18px;
}

.img-mask > img {
    width: 110%;
    margin-left: -5%;
}

.soc-icon-mini {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
}

.img-mask + .vp-icon-mini {
    position: absolute;
    font-weight: 700;
    width: 16px;
    height: 16px;
    font-size: 0.9em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #ffffff;
}

.img-mask.small + .soc-icon-mini.right {
    top: -2px;
    left: 16px;
}

.img-mask.middle + .soc-icon-mini.right {
    top: -2px;
    left: 32px;
}

.img-mask.middle + .vp-icon-mini {
    top: 34px;
    right: 5px;
}

h3.name,
a.name {
    font-size: 14px;
    font-weight: 700;
    padding: 1px 0 !important;
    line-height: normal !important;
}

a.name:hover,
a .name:hover {
    text-decoration: underline;
}

p.loc,
.date {
    opacity: 0.8;
    font-size: 12px;
    padding: 1px 0;
    line-height: normal !important;
}

.scale125 {
    transform: scale(1.25);
}

.del-img-col {
    position: absolute;
    top: 4px;
    left: 48px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #2bdf74;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    color: #ffffff;
    cursor: pointer;
    font-size: 11px;
    text-align: center;
}

.del-img-col:hover {
    background: #248d4f;
    transition: background 300ms;
}

/*-------- #sTop-button ----------*/
#sTop-button {
    width: 150px;
    height: 100%;
    background: none;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 5;
    cursor: pointer;
    opacity: 0;
}

#sTop-button > .sTop-col {
    width: 75px;
    height: 100%;
    background: #c3e3f0;
    color: #595e61;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    vertical-align: middle;
    z-index: 10;
}

#sTop-button:hover {
    opacity: 0.5 !important;
    transition: opacity 300ms !important;
}

#sTop-button i {
    font-size: 24px;
}

#sTop-button > .sTop-col > span {
    position: absolute;
    display: none;
}

#sTop-button > .sTop-col > span.up {
    position: absolute;
    top: 45%;
    left: 24px;
    display: none;
}

#sTop-button > .sTop-col > span.down {
    position: absolute;
    top: 1%;
    left: 24px;
    display: none;
}

#sTop-button > .sTop-col > span.active {
    display: block;
}

/*---- form ------*/
form {
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0 0 5px;
}

input {
    width: 100%;
    padding: 0 4%;
    border: 1px solid #bdcbd1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 600;
    height: 32px;
    margin: 5px 0;
    color: #484848;
}

input[type=submit] {
    display: none;
}

input[type=tel] {
    font-size: 11px;
    font-weight: 300;
}

label {
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    margin: 0;
    color: #484848;
    font-size: 0.917em;
    font-weight: 600;
    opacity: 0.7;
}

.button {
    height: 32px;
    line-height: 32px;
    display: inline-block;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 5px 0;
    padding: 0 10px;
    color: #ffffff !important;
    font-size: 0.917em !important;
    opacity: 0.8;
    letter-spacing: 1px;
    font-weight: 500 !important;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.button:hover {
    opacity: 1;
    transition: opacity 300ms;
}

#send-app-form p {
    font-size: 0.917em;
    padding: 0 0 10px;
}

input.hidden-input {
    display: none;
}

input.hidden-input + label {
    display: inline-block;
    width: auto;
    cursor: pointer;
}

/*--------- vf-fixed-menu ----------*/
.vf-fixed-menu {
    position: fixed;
    top: 20px;
    left: 30px;
    display: none;
    width: 50px;
    z-index: 10;
}

.vf-fixed-menu > a {
    width: 100%;
    font-weight: 600;
    color: #a9aaac;
    opacity: 0.7;
    font-size: 12px;
    display: inline-block;
    margin: 0 0 24px;
    padding: 0;
}

.vf-fixed-menu > a:hover {
    opacity: 0.95;
    transition: all 300ms;
}

.vf-fixed-menu > a > span {
    display: table-cell;
    height: 16px;
    padding: 0 3px;
    vertical-align: middle;
}

.vf-fixed-menu > a > span.name {
    width: 24px;
    text-align: left;
    transform: scale(0.9);
}

.vf-fixed-menu > a > span > img {
    display: inline-block;
}


/*------ login-block --------*/
.login-block .help {
    padding: 10px 0 0;
}

/*---- filter-block ------*/
.filter-block .title {
    font-size: 1em;
    color: #363636;
    width: 48%;
    display: inline-block;
    text-align: left;
}

.filter-block .clear {
    display: inline-block;
    width: 49%;
    text-align: right;
    font-size: 0.833em;
    cursor: pointer;
}

/*--- carousel -----*/
.carousel {
    /*background: #ffffff;*/
}

.carousel-nav {
    display: block;
    width: auto;
    color: #3eb6e2;
    cursor: pointer;
}

.carousel-nav .prev,
.carousel-nav .next {
    opacity: 0;
    font-size: 2em;
    cursor: inherit;
}

.carousel-nav .prev.active,
.carousel-nav .next.active {
    opacity: 1;
    cursor: pointer;
}

.carousel-nav .prev {
    float: left;
}

.carousel-nav .next {
    float: right;
}

.carousel-inner {
    width: 100%;
    display: inline-block !important;
    height: auto;
    padding: 0;
    vertical-align: middle;
    position: relative;
    background: #ffffff;
}

.carousel-item {
    color: #8a8a8a;
    font-size: 0.917em;
    display: inline-block;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px 0 60px;
    z-index: 0;
}

.carousel-dots {
    display: inline-block;
    width: auto;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

.carousel-dots .dot {
    display: inline-block;
    background: #ffffff;
    width: 10px;
    height: 10px;
    border: 1px solid #3db6e1;
    margin: 0 5px;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.carousel-dots .dot.active {
    background: #3db6e1;
}

.carousel-controls {
    display: inline-block;
    text-align: center;
    /*background: #fff;*/
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    left: 0;
}

/*-------c-title ---------*/
.c-title {
    background: #ffffff;
    text-align: left;
}

/*.c-title div,*/
.c-title a {
    display: inline-block;
    line-height: 28px;
    height: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    color: #363636;
    padding: 0px 8px 0px 8px;
}

.c-title div.vp-name,
div.vp-name {
    font-size: 1.167em;
    font-weight: 700;
    /*color: #3db6e1;*/
    display: inline-block;
}

.c-title a.vp-type,
a.vp-type {
    display: inline-block;
    line-height: 28px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0;
    color: #363636;
    font-weight: 600;
    cursor: pointer;
    padding: 0px 8px 0px 8px;
    position: relative;
}

a.vp-type .search-marker {
    position: absolute;
    top: -5px;
    right: -1px;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #3db6e1;
    display: block;
}

.c-title > div:last-child {
    padding: 16px 16px 16px 8px;
}

.c-title > div:first-child {
    padding: 16px 8px 16px 16px;
}

.c-title a.vp-type:hover,
a.vp-type:hover {
    color: #3db6e1;
    transition: color 300ms;
}

.c-title a.vp-type > span,
a.vp-type > span {
    color: #3db6e1;
}

.c-title a.vp-type.active,
.c-title a.vp-type.active > span,
a.vp-type.active,
a.vp-type.active > span {
    background: #3db6e1;
    color: #ffffff;
    padding: 0 8px;
    transition: all 300ms;
    display: inline-block;
}

.c-title a.vp-type.active,
a.vp-type.active {
    margin-left: 8px;
}

.c-title a.vp-type.active > span {
    color: #ffffff;
}

/*----- search ------*/
#search,
#fr-search,
#fr-search-modal,
#cap-search {
    width: 100%;
    height: 60px;
    display: inline-block;
    border: 2px solid #85cee9;
    margin: 0 0 -4px;
    background: #ffffff url('../images/search-icon.png') no-repeat 15px 15px;
    padding: 5px 10px 5px 50px;
    position: relative;

}

.clear_input_div {
    position: relative;
    margin-right: 20px;
}

.clear_input {
    font-size: 20px;
    font-weight: 300;
    color: #363636;
    opacity: 0.5;
}

.clear_input:hover {
    opacity: 0.7;
}

#fr-search,
#fr-search-modal,
#cap-search {
    border: 1px solid #c5d1d5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 32px;
    padding: 0 0 0 30px;
    margin: 10px 2%;
    width: 96%;
    background-size: 16px 16px;
    background-position: 10px 8px;
}

#cap-search {
    background-size: 12px 12px;
    background-position: 10px 10px;
    margin: 0;
}

#fr-search input::-webkit-input-placeholder,
#fr-search-modal input::-webkit-input-placeholder,
#cap-search input::-webkit-input-placeholder,
#search input::-webkit-input-placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    font-family: OpenSansRegular, sans-serif;
    font-size: 1em;
    color: #949494;
    opacity: 0.5;
    font-weight: 300;
}

#fr-search input::-moz-placeholder,
#fr-search-modal input::-moz-placeholder,
#cap-search input::-moz-placeholder,
#search input::-moz-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder {
    font-family: OpenSansRegular, sans-serif;
    font-size: 1em;
    color: #949494;
    opacity: 0.5;
    font-weight: 300;
}

/* Firefox 19+ */
#fr-search input:-moz-placeholder,
#fr-search-modal input:-moz-placeholder,
#cap-search input:-moz-placeholder,
#search input:-moz-placeholder,
input:-moz-placeholder,
textarea:-moz-placeholder {
    font-family: OpenSansRegular, sans-serif;
    font-size: 1em;
    color: #949494;
    opacity: 0.5;
    font-weight: 300;
}

/* Firefox 18- */
#fr-search input:-ms-input-placeholder,
#fr-search-modal input:-ms-input-placeholder,
#cap-search input:-ms-input-placeholder,
#search input:-ms-input-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    font-family: OpenSansRegular, sans-serif;
    font-size: 1em;
    color: #949494;
    opacity: 0.5;
    font-weight: 300;
}

.search-line {
    border: none;
    font-family: OpenSansRegular, sans-serif;
    font-size: 1.25em;
    font-weight: 400;
    padding: 0;
}

#fr-search .search-line,
#fr-search-modal .search-line,
#cap-search .search-line {
    color: #484848;
    font-size: 12px;
    height: 22px;
    width: 100%;
    padding: 0 5px;
}

#cap-search .search-line {
    font-size: 11px;
}

.search-submit {
    width: 100px;
}

/*------ vp-list ------*/
.vp-list,
.vp-el,
.vp-el-content,
.vp-el-comments {
    display: inline-block;
    width: 100%;
    font-weight: 400;
    font-size: 1em;
}

.vp-list > .title {
    font-size: 1em;
    font-weight: 600;
    color: #363636;
    text-align: left;
}

.vp-list a {
    color: #3db6e1;
}

.vp-list {
    margin: 16px 0;
}

.vp-el {
    margin: 7px 0;
    /*overflow: hidden;*/
    position: relative;
    padding: 0 0 2px;
}

.vp-el-content,
.vp-el-comments {
    background: #ffffff;
    position: relative;
    z-index: 10;
    /*width: 616px;*/
}

.vp-el-content .body,
.vp-el-content .footer {
    display: block;
    width: 100%;
}

.vp-el-content .footer {
    background: #f7f7f7;
    border-bottom: 1px solid #e3e3e3;
    padding: 5px;
    position: relative;
}

.vp-el-content .no-right-padding {
    padding-right: 0;
}

.vp-el-content .footer .ta-l,
.vp-el-content .footer .ta-r {
    width: 49%;
    display: inline-block;
}

.vp-el-content .footer p {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    font-size: 0.917em;
    margin: 0 10px;
    color: #3fb6e3;
    font-weight: 600;
}

.vp-el-content .footer .set-my-fav {
    background: url('/images/logo-circle.png') 0 0 no-repeat;
    display: inline-block;
    padding: 0 0 0 32px;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    opacity: 0.9;
}

.vp-el-content .footer .set-my-fav:hover {
    opacity: 1;
    transition: all 300ms;
}

.massege-button,
.share-button,
.fv-trust-button {
    color: #3fb6e3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity: 0.9;
    border: 1px solid #6bc7e9;
    height: 24px;
    line-height: 24px;
    padding: 0 10px 0 30px;
    font-size: 0.917em;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.own-fav {
    border: none;
    background: none;
}

.massege-button {
    background: url('../images/message-icon-active.png') 7px 6px no-repeat;
}

.massege-button:hover {
    background: #eaf6fa url('../images/message-icon-active.png') 7px 6px no-repeat;
}

.share-button {
    background: url('../images/share-icon-nonactive.png') 7px 5px no-repeat;
    padding: 0 10px 0 20px;
    border: 1px solid #c5c5c5;
}

.share-button:hover {
    background: #eaf6fa url('../images/share-icon-nonactive.png') 7px 5px no-repeat;
    padding: 0 10px 0 20px;
    border: 1px solid #c5c5c5;
}

.fv-trust-button {
    background: url('../images/logo-mini-active.png') 7px 4px no-repeat;
}

.fv-trust-button:hover {
    background: #eaf6fa url('../images/logo-mini-active.png') 7px 4px no-repeat;
}

.fv-trust-button.own-fav:hover {
    background: url('../images/logo-mini-active.png') 7px 4px no-repeat;
}

.massege-button:hover,
.share-button:hover,
.fv-trust-button:hover {
    opacity: 1;
    transition: all 300ms;
}

.vp-el-content .img-col,
.comments-el .img-col {
    width: 60px;
    height: 60px;
    padding: 10px 8px;
    display: table-cell;
    vertical-align: top;
    position: relative;
    /*-webkit-border-radius: 50%;*/
    /*-moz-border-radius: 50%;*/
    /*border-radius: 50%;*/
    overflow: hidden;
    vertical-align: top !important;
}

.vp-el-content .img-col > .img-col-mask {
    width: 44px;
    height: 44px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.vp-el-content .img-col > .img-col-mask > img {
    width: 100%;
}

.vp-el-content .info-col,
.comments-el .message-col {
    width: auto;
    display: table-cell;
    vertical-align: top;
    padding: 10px 24px 10px 8px;
    text-align: left;
}

.comments-el .message-col {
    width: auto;
}

.vp-el-content .info-col p {
    margin: 0 0 8px;
}

.vp-el-content .info-col .name,
.comments-el .message-col .name {
    height: 1.167em;
    line-height: 1.167em;
    font-size: 1.167em;
    color: #3db6e1;
    margin: 0;
    font-weight: 700;
    display: inline-block;
    width: 100%;
}

.comments-el .message-col .name {
    color: #3a3a3a;
    width: auto;
}

.comments-el .message-col .m-time {
    float: right;
    color: #3a3a3a;
    font-size: 0.917em;
    font-weight: 600;
}

.comments-el .message-col .name > span {
    color: #3db6e1;
    font-size: 0.786em;
    font-weight: 600;
}

.vp-el-content .info-col .ld {
    opacity: 0.8;
}

.vp-el-content .info-col {
    padding: 10px 0 10px 0;
}

.vp-el-content .info-col > :nth-child(n) {
    padding-left: 8px;
    width: 100%;
}

.vp-el-content .info-col .create-type {
    margin: 0 0 8px;
}

.vp-el-content .info-col .text {
    padding: 0 8px 4px 8px;
    margin: 0 0 4px;
    display: inline-block;
    color: #3a3a3a;
    cursor: pointer;
}

.vp-el-content .info-col .text:hover {
    background: #eaf8fb;
}

.vp-el-content .info-col .name {
    margin-left: 8px;
}

.vp-el-comments {
    width: 95%;
    z-index: 5;
    margin: -5px auto 0;
    padding-top: 4px;
    display: none;
    opacity: 0;
}

.comments-list {
    display: inline-block;
    width: 100%;
}

.comments-el {
    display: none;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
}

.comments-el.last {
    display: inline-block;
}

.comments-el.last:nth-of-type(3) {
    border: none;
}

.show-more-vp,
.show-all-comments {
    display: inline-block;
    background: #cce6f1;
    width: 100%;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    margin-top: 20px;
    color: #3fb6e3;
    font-size: 1em;
    font-weight: 600;
    opacity: 0.8;
    transition: all 300ms;
    cursor: pointer;
}

.show-all-comments {
    background: #f5fbfd;
    margin: 0;
    text-decoration: underline;
    font-weight: 600;
    font-size: 0.917em;
}

.show-all-comments:hover {
    background: #d8f0fa;
}

.show-more-vp:hover,
{
    background: #d5e9f2;
}

.fv-trust-block {
    position: relative;
}

.fv-trust,
.popover-block {
    position: absolute;
    display: none;
    top: -85px;
    right: -160px;
    opacity: 0;
    padding: 0 0 5px;
}

.fv-trust-list {
    display: inline-block;
    text-align: center;
    background: #303031;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    width: 240px;
    height: 75px;
}

.fv-trust-el {
    display: block;
    float: left;
}

.fv-trust-el > a {
    display: inline-block;
    margin: 0 3px;
}

.fv-trust-el.showall {
    clear: left;
}

.fv-trust-el.showall > a {
    font-size: 0.917em;
    color: #ffffff;
    text-align: left;
    width: 100%;
    display: block;
    margin: 8px 0 0 6px;
}

.fv-trust > .angle-icon,
.popover-block > .angle-icon {
    display: block;
    margin: -4px 0 0 40px;
    padding: 0;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
}

.message-answer {
    display: inline-block;
    text-align: left;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    width: 100%;
}

.message-reply {
    display: inline-block;
    width: 100%;
    padding: 5px 0;
}

.message-reply .text {
    width: 420px;
    display: inline-block;
    vertical-align: top;
    padding: 3px 0 0;
}

.message-answer .answer-form {
    display: none;
    opacity: 0;
}

.message-answer .show-answer-form {
    cursor: pointer;
}

.message-reply .user-img,
.message-answer .answer-form .user-img {
    width: 28px;
    height: 28px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    margin: 5px 0;
}

.message-reply .user-img > img,
.message-answer .answer-form .user-img > img {
    width: 140%;
    margin-left: -20%;
}

.message-answer .answer-form input {
    /*width: 330px;*/
    width: 70%;
    height: 28px;
    font-weight: 400;
}

.message-answer .answer-form .enter-answer {
    width: 90px;
    height: 28px;
    line-height: 28px;
}

/*------ reg-block -------*/
.reg-block h3 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    /*width: 100%;*/
    text-align: left;
}

.reg-block .reg-step {
    display: inline-block;
    width: 100%;
    margin: 0 0 10px;
    border: 1px solid #e5e5e5;
    border-top: none;
}

.reg-block .reg-step > .title,
.reg-block .reg-step > .body {
    color: #545454;
    display: inline-block;
}

.reg-block .reg-step > .title h3 > i {
    font-size: 24px;
    padding: 0 5px;
    line-height: 24px;
}

.reg-block .reg-step > .body {
    min-height: 400px;
    width: 100%;
    margin: -6px 0 0;
    padding: 20px 20px 0;
    text-align: center;
}

.reg-block .reg-step > .title > div {
    width: 260px;
    /*height: 80px;*/
    display: table-cell;
    /*float: left;*/
    text-align: left;
    padding: 20px;
    background: none;
    color: #8a8b8c;
    border-right: 1px solid #e5e5e5;
}

.reg-block .reg-step > .title > div:nth-child(1),
.reg-block .reg-step > .title > div:nth-child(3) {
    border-right: none;
}

.reg-block .reg-step > .title > div.active,
.reg-block .reg-step > .body {
    background: #f9f9f9;
}

.reg-block .reg-step .form-group-title {
    width: 100%;
    display: inline-block;
    text-align: left;
    margin: 0 0 20px;
    border-bottom: 1px solid #e7ecf0;
}

.reg-form,
.form-row {
    display: inline-block;
    width: 100%;
    text-align: left;
    position: relative;
}

.form-group {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    position: relative;
}

.form-group.step1 {
    width: 200px;
}

.form-group.step2 {
    width: 560px;
}

.step3 {
    width: 480px !important;
    padding: 24px 40px !important;
    border-bottom: 1px solid #f2f2f2;
}

.form-group.step3:nth-of-type(3) {
    border-bottom: none;
}

.reg-form label,
.reg-form input,
.reg-form a,
.reg-form p {
    display: inline-block;
    font-size: 11px;
}

.reg-form label {
    /*width: 260px;*/
    text-align: right;
    font-weight: 600;
    font-size: 11px;
    padding: 0 5px;
    color: #484848;
    opacity: 1;
}

.reg-form input {
    width: 200px;
    padding: 0 5px;
}

.reg-form input:focus {
    border-color: #3fb6e3;
}

.required-icon {
    width: 10px;
    color: #484848;
    font-size: 14px;
    padding: 0;
    top: -5px;
    position: relative;
}

.reg-form p.input-alert {
    color: #df6352;
}

input.input-alert,
input.mobile-number.input-alert {
    border-color: #df6352;
}

.req-desc {
    padding-left: 255px !important;
    font-size: 11px;
    text-align: left;
}

.user-exists {
    width: auto;
    display: inline-block;
    margin: 0;
    text-align: left;
}

.user {
    display: inline-block;
}

a.reg-button {
    color: #ffffff;
    font-size: 12px;
    padding: 0 20px;
    background: #3fb6e3;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    opacity: 0.9;
}

a.reg-button:hover {
    transition: all 300ms;
    opacity: 1;
}

a.reg-button.skip {
    color: #b0b0b0;
    background: none;
}

a.reg-button.skip:hover {
    text-decoration: underline;
}

a.reg-button > span {
    display: table-cell;
    vertical-align: middle;
    padding: 0 3px;
    height: 32px;
}

a.reg-button.prev {
    float: left;
}

a.reg-button.next {
    float: right;
}

a.reg-button i {
    font-size: 18px;
    font-weight: 300;
}

.soc-block .soc-icon {
    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    opacity: 0.2;
}

.soc-icon:hover,
.soc-icon.logged {
    opacity: 1;
    transition: opacity 300ms;
}

.soc-icon-trigger {

    filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: grayscale(100%); /* Current draft standard */
    -webkit-filter: grayscale(100%); /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    transition: all 300ms;
    opacity: 0.5;
}

.soc-icon-trigger .soc-name {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    display: inline-block;
    width: auto;
    padding: 3px 5px;
}

.soc-icon-trigger:hover .soc-name,
.soc-icon-trigger.logged .soc-name {
    background: #eeeeee;
}

.soc-icon-trigger .connect {
    opacity: 0;
}

.soc-icon-trigger:hover .connect {
    opacity: 1;
}

.soc-icon-trigger:hover,
.soc-icon-trigger.logged {
    filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: grayscale(0); /* Current draft standard */
    -webkit-filter: grayscale(0%); /* New WebKit */
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    opacity: 1;
}

.soc-block.large .soc-icon {
    width: 40px;
    height: 40px;
    margin: 0 30px;
}

.soc-block.small .soc-icon {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.soc-block .soc-icon > img {
    width: 100%;
}

.form-group.soc-block {
    vertical-align: top;
}

.form-group.soc-block label {
    vertical-align: top;
    margin: 5px 0;
}

.form-group.soc-block a {

}

.load-avatar {
    position: absolute;
    top: 100px;
    left: 50px;
    padding: 0;
}

.add-friend-list {
    display: inline-block;
    width: 100%;
}

.add-fr-list-el {
    width: 100%;
    display: inline-block;
    background: #f5f8fa;
    text-align: left;
    padding: 20px;
    border-bottom: 1px solid #e9ebed;
}

.add-fr-list-el:last-child {
    border: none;
}

.add-fr-list-el .img-col,
.add-fr-list-el .info-col,
.add-fr-list-el .add-button {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.add-fr-list-el .img-col-mask {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.add-fr-list-el .img-col-mask > img {
    width: 120%;
    margin-left: -10%;
}

.add-fr-list-el .img-col-mask .soc-icon-mini {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.add-fr-list-el .info-col {
    width: 310px;
    padding: 0 0 0 10px;
}

.add-fr-list-el .info-col .name {
    font-size: 14px;
    color: #3db6e1;
}

.add-fr-list-el .info-col .loc {
    font-size: 12px;
    color: #4f4f4f;
    opacity: 0.8;
}

.add-fr-list-el .add-button {
    background: #4fbce3;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    width: 160px;
    height: 32px;
    color: #ffffff;
    padding: 0 10px 0 20px;
    opacity: 0.7;
}

.add-fr-list-el .add-button:hover {
    opacity: 1;
    transition: opacity 300ms;
}

.add-fr-list-el .add-button > span {
    font-size: 11px;
    line-height: 32px;
    display: table-cell;
    padding: 0 5px 0 0;
    margin: 0;
    float: left;
    text-align: right;
    width: 110px;
}

.add-fr-list-el .add-button > i {
    font-size: 18px;
    padding: 8px 0 0;
}

.add-fr-list-el .add-button.cancel {
    background: none;
    color: #4f4f4f;
}

textarea {
    font-size: 12px;
    border: 1px solid #c5d1d5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #a0a0a0;
    resize: none;
    /*margin-bottom: 10px;*/
    padding: 5px;
    font-family: OpenSansRegular, sans-serif;
    position: relative;
    overflow: hidden;
}

textarea.chartLeftArea {
    padding: 5px 30px 5px 5px;
    height: 80px;
}

.form-group.step3 textarea {
    width: 400px;
    height: 80px;
    padding: 5px 30px 5px 5px;
}

.charsLeft {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    color: #a0a0a0;
    font-size: 12px;
    top: 60px;
    left: 373px;
    font-weight: 400;
}

.vp-add-photo {
    display: inline-block;
    float: right;
    height: 32px;
    line-height: 32px;
    color: #7f7f7f;
    font-size: 11px;
}

.vp-add-photo > i {
    padding: 0 10px;
}

.gallery-preview {
    display: inline-block;
    width: 100%;
    position: relative;
}

.gallery-preview-el {
    display: inline-block;
    width: 117px;
    height: 117px;
    margin: 0 9px 0 0;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.gallery-preview-el img {
    height: 100%;
}

.galleryBox .item {
    height: auto;
    width: 650px;
    display: inline-block;
    vertical-align: top;
}

.galleryDots .item {
    height: 40px;
    width: 40px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.galleryDots .item.current {
    border: 2px solid #3eb6e2;
}

.galleryDots .item img {
    height: 100%;
    width: auto;
}

.galleryNav .prev,
.galleryNav .next {
    position: absolute;
    height: auto;
    width: 100%;
    background: none;
    top: 0px;
    z-index: 10;
    cursor: pointer;
    left: 0;
    padding: 20px;
}

.galleryNav .next {
    top: 40px;
}

.fr-inbook-menu {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.fr-inbook-menu > a {
    display: table-cell;
    height: 40px;
    width: 70px;
    vertical-align: middle;
    border-right: 32px solid transparent;
    color: #3eb6e2;
    padding: 0 5px;
    opacity: 0.5;
}

.fr-inbook-menu > a:last-of-type {
    border: none;
    width: 26px;
}

.fr-inbook-menu > a i {
    font-size: 18px;
}

.fr-inbook-menu > a.hidden {
    opacity: 0;
}

.fr-inbook.row-list-el:hover a.hidden,
.c-title .body:hover a.hidden {
    opacity: 0.5;
    transition: opacity 300ms;
}

.fr-inbook.row-list-el:hover .fr-inbook-menu > a:hover,
.fr-inbook.row-list-el:hover .fr-inbook-menu > a.hidden:hover,
.c-title .body:hover .fr-inbook-menu > a.hidden:hover,
.c-title .body:hover .fr-inbook-menu > a:hover {
    opacity: 1;
    transition: opacity 300ms;
}

.fr-inbook .fr-inbook-menu > a.hidden {
    transform: scale(0.75);
}

.hidden-menu {
    position: absolute;
    top: 40px;
    right: -25px;
    display: none;
    text-align: left;
    z-index: 99;
    opacity: 0;
}

.hidden-menu > i,
.hidden-menu > img.arrow {
    color: rgba(0, 0, 0, 0.6);
    font-size: 30px;
    position: absolute;
    top: -16px;
    left: 155px;
}

.hidden-menu > img.arrow {
    top: -10px;
}

.hidden-menu > li {
    display: block;
    /*width: 100%;*/
    padding: 0;
    margin: -4px 0;
    text-align: left;
}

.hidden-menu > li > a {
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    display: inline-block;
    padding: 0;
    margin: 0;

}

.hidden-menu > li > a:hover {
    background: rgba(0, 0, 0, 0.4);
    transition: all 300ms;
}

.hidden-menu > li:first-of-type > a {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.hidden-menu > li:last-of-type > a {
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.hidden-menu > li > a > span {
    display: table-cell;
    width: 50px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 300;
}

.hidden-menu > li > a > span:last-of-type {
    width: 150px;
    text-align: left;
}

ul.hidden-menu > li > a:hover + .fr-inbook-menu > a.hidden {
    opacity: 0;
}

div.fr-possible:first-of-type {
    padding: 8px 0;
}

div.fr-possible {
    padding: 0 0 8px;
    margin: 0 0 8px;
    display: inline-block;
    color: #565656;
}

div.fr-possible > p {
    padding: 8px 0 16px;
}

div.fr-possible a.name {
    font-size: 12px;
    text-align: left;
    width: auto;
}

div.fr-possible a.fr-mutual {
    font-size: 11px;
    color: #565656;
    text-align: left;
}

div.fr-possible a.fr-mutual:hover {
    text-decoration: underline;
}

div.fr-possible a.button {
    line-height: 26px;
    height: 26px;
    letter-spacing: normal;
    width: auto;
    float: right;
    font-size: 11px;
}

div.fr-possible > .show-all {
    width: 100%;
    text-align: right;
}

.fr-group-menu a {
    color: #b2b2b2;
    font-size: 16px;
    padding: 0 5px;
    display: inline-block;
    vertical-align: top;
}

.fr-group-menu a:hover {
    color: #7f7f7f;
    transition: color 300ms;
}

.fr-bid-menu a {
    color: #3a3a3a;
    opacity: 0.7;
}

.fr-bid-menu a:hover {
    opacity: 1;
    transition: opacity 300ms;
}

.friend-empty > p {
    font-size: 14px;
    font-weight: 300;
    color: #616161;
    width: 100%;
    text-align: center;
    line-height: 12px;
}

.add-fr-button > img {
    display: inline-block;
    vertical-align: middle;

}

.c-title > .footer {
    background: rgba(61, 182, 225, 0.05);
    padding: 0 5px !important;
}

.c-title > .footer > nav > a {
    color: #484848;
    font-size: 12px;
    padding: 5px 10px;
    border-bottom: 3px solid transparent;
    margin: 0 10px;
    height: auto;
    opacity: 0.5;
}

.c-title > .footer > nav > a > strong {
    font-weight: 800;
    padding: 0 0 0 5px;
}

.c-title > .footer > nav > a.active {
    opacity: 1;
    transition: all 300ms;
    border-bottom: 3px solid #3db6e1;
}

.c-title > .footer > nav > a:hover,
.c-title > .footer > nav > a.active:hover {
    color: #3db6e1;
    opacity: 1;
    transition: all 300ms;
}

.gallery-button {
    cursor: pointer;
    height: 100%;
    padding: 20px;
    position: absolute;
    top: 20px;
    opacity: 0.5;
}

.gallery-button:hover {
    opacity: 1;
}

.gallery-button.close {
    right: 0;
}

.gallery-button.prev {
    left: 0;
}

.hidden {
    display: none;
    opacity: 0;
}

/*----- filter-block -----*/
.filter-block p {
    font-size: 0.917em;
    color: #447080;
    margin: 10px 0;
    font-weight: 700;
    opacity: 0.7;
}

.filter-block > .clear {
    cursor: pointer;
}

.radio-list li:hover {
    background: #ebf8fc;
    transition: background 500ms;
}

.radio-list li.current {
    background: #3eb6e2;
    transition: background 500ms;
}

.progressbar .ui-progressbar {
    width: 100%;
    height: 10px;
    border: none;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: #505050;
}

.progressbar .ui-corner-left {
    background: #3db6e1;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.progressbar .ui-widget-header {
    border: none;
}

.progressbar .ui-widget-header {
    border: none;
}

.ui-progressbar .ui-progressbar-value {
    margin: 0;
}

/*------ other - modif --------*/

.scroll-element.scroll-x {
    display: none !important;
}

.slim {
    line-height: 24px;
    height: 24px;
}

.bdb-g {
    border-bottom: 1px solid #f2f2f2;
}

.bdb-b {
    border-bottom: 1px solid #3eb6e2;
}

.td-u:hover {
    text-decoration: underline;
}

.del-img {
    position: absolute;
    top: 5px;
    left: 55px;
    z-index: 99;
    border: none !important;
    background: #2bdf74;
    color: #ffffff !important;
    border-radius: 50%;
    width: 16px !important;
    height: 16px;
    display: none !important;
}

.del-img.active {
    display: inline-block !important;
}
