@import "header/header.css";
@import "main/main.css";
@import "footer/footer.css";

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: font-size 300ms;
    -moz-transition: font-size 300ms;
    -ms-transition: font-size 300ms;
    -o-transition: font-size 300ms;
    transition: font-size 300ms;
    color: #474747;
    background: #ffffff;
    font-size: 12px;
    font-weight: 600;
}

#wrap {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

section,
header,
main,
footer {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
}
section
{
    display: inline-block;
}
h3 {
    font-size: 14px;
}

p {
    display: inline-block;
}

form {
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0 0 5px;
}

select {
    height: 32px;
    font-size: 11px;
    color: #444444;
    width: 100%;
    padding: 0 4%;
    border: 1px solid #bdcbd1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 5px 0;
}

input {
    width: 100%;
    padding: 0 4%;
    border: 1px solid #bdcbd1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-family: OpenSansRegular, sans-serif;
    font-weight: 600;
    height: 32px;
    margin: 5px 0;
    color: #484848;
}

input:focus,
input:hover {
    border-color: #3fb6e3;
    transition: border-color 300ms;
}

input[type=submit] {
    display: none;
}

input[type=tel] {
    font-size: 11px;
    font-weight: 300;

}

label {
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    margin: 0;
    color: #484848;
    font-size: 0.917em;
    font-weight: 600;
    opacity: 0.7;
}

.button {
    display: inline-block;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 5px 0;
    padding: 0 10px;
    color: #ffffff;
    opacity: 0.8;
    letter-spacing: 1px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.button-slim {
    height: 24px;
    line-height: 24px;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.55px;
}

.button-middle {
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    font-weight: 600;
}

.button-bold {
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    font-weight: 600;
}

.button:hover {
    opacity: 1;
    transition: opacity 300ms;
}

#send-app-form p {
    font-size: 0.917em;
    padding: 0 0 10px;
}

input.hidden-input {
    display: none;
}

input.hidden-input + label {
    display: inline-block;
    width: auto;
    cursor: pointer;
}

.trigger-radio.selected
{
    opacity: 1;
    background: #e8f7f1;
    transition: all 300ms;
}

.del-img-col
{
    position: absolute;
    top:4px;
    left:48px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #2bdf74;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    color: #ffffff;
    cursor: pointer;
    font-size: 11px;
    text-align: center;
}
.del-img-col:hover
{
    background: #248d4f;
    transition: background 300ms;
}


/*--------- vf-fixed-menu ----------*/
.vf-fixed-menu {
    position: fixed;
    top: 20px;
    left: 30px;
    display: none;
    width: 50px;
    z-index: 10;
}

.vf-fixed-menu > a {
    width: 100%;
    font-weight: 600;
    color: #a9aaac;
    opacity: 0.7;
    font-size: 12px;
    display: inline-block;
    margin: 0 0 24px;
    padding: 0;
}

.vf-fixed-menu > a:hover {
    opacity: 0.95;
    transition: all 300ms;
}

.vf-fixed-menu > a > span {
    display: table-cell;
    height: 16px;
    padding: 0 3px;
    vertical-align: middle;
}

.vf-fixed-menu > a > span.name {
    width: 24px;
    text-align: left;
    transform: scale(0.9);
}

.vf-fixed-menu > a > span > img {
    display: inline-block;
}

/*------ login-block --------*/
.login-block .help {
    padding: 10px 0 0;
}

/*---- filter-block ------*/
.filter-block .title {
    font-size: 1em;
    color: #363636;
    width: 48%;
    display: inline-block;
    text-align: left;
}

.filter-block .clear {
    display: inline-block;
    width: 49%;
    text-align: right;
    font-size: 0.833em;
    cursor: pointer;
}

/*------ vp-list ------*/
.vp-list,
.vp-el,
.vp-el-content,
.vp-el-comments {
    display: inline-block;
    width: 100%;
    font-weight: 400;
    font-size: 1em;
}

.vp-list > .title {
    font-size: 1em;
    font-weight: 600;
    color: #363636;
    text-align: left;
}

.vp-list a {
    color: #3db6e1;
}

.vp-list {
    margin: 16px 0;
}

.vp-el {
    margin: 7px 0;
    /*overflow: hidden;*/
    position: relative;
    padding: 0 0 2px;
}

.vp-el-content,
.vp-el-comments {
    background: #ffffff;
    position: relative;
    z-index: 10;
    /*width: 616px;*/
}

.vp-el-content .body,
.vp-el-content .footer {
    display: block;
    width: 100%;
}

.vp-el-content .footer {
    background: #f7f7f7;
    border-bottom: 1px solid #e3e3e3;
    padding: 5px;
    position: relative;
}

.vp-el-content .no-right-padding {
    padding-right: 0;
}

.vp-el-content .footer .ta-l,
.vp-el-content .footer .ta-r {
    width: 49%;
    display: inline-block;
}

.vp-el-content .footer p {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    font-size: 0.917em;
    margin: 0 10px;
    color: #3fb6e3;
    font-weight: 600;
}

.vp-el-content .footer .set-my-fav {
    background: url('/images/logo/logo-circle.png') 0 0 no-repeat;
    display: inline-block;
    padding: 0 0 0 32px;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
    opacity: 0.9;
}

.vp-el-content .footer .set-my-fav:hover {
    opacity: 1;
    transition: all 300ms;
}

.vp-add-photo {
    display: inline-block;
    float: right;
    height: 32px;
    line-height: 32px;
    color: #7f7f7f;
    font-size: 11px;
}

.vp-add-photo > i {
    padding: 0 10px;
}

.massege-button,
.share-button,
.fv-trust-button {
    color: #3fb6e3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity: 0.9;
    border: 1px solid #6bc7e9;
    height: 24px;
    line-height: 24px;
    padding: 0 10px 0 30px;
    font-size: 0.917em;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.own-fav {
    border: none;
    background: none;
}

.massege-button {
    background: url('../images/icons/message-icon-active.png') 7px 6px no-repeat;
}

.massege-button:hover {
    background: #eaf6fa url('../images/icons/message-icon-active.png') 7px 6px no-repeat;
}

.share-button {
    background: url('../images/icons/share-icon-nonactive.png') 7px 5px no-repeat;
    padding: 0 10px 0 20px;
    border: 1px solid #c5c5c5;
}

.share-button:hover {
    background: #eaf6fa url('../images/icons/share-icon-nonactive.png') 7px 5px no-repeat;
    padding: 0 10px 0 20px;
    border: 1px solid #c5c5c5;
}

.fv-trust-button {
    background: url('../images/logo/logo-mini-active.png') 7px 4px no-repeat;
}

.fv-trust-button:hover {
    background: #eaf6fa url('../images/logo/logo-mini-active.png') 7px 4px no-repeat;
}

.fv-trust-button.own-fav:hover {
    background: url('../images/logo/logo-mini-active.png') 7px 4px no-repeat;
}

.massege-button:hover,
.share-button:hover,
.fv-trust-button:hover {
    opacity: 1;
    transition: all 300ms;
}

.vp-el-content .img-col,
.comments-el .img-col {
    width: 60px;
    height: 60px;
    padding: 10px 8px;
    display: table-cell;
    vertical-align: top;
    position: relative;
    /*-webkit-border-radius: 50%;*/
    /*-moz-border-radius: 50%;*/
    /*border-radius: 50%;*/
    overflow: hidden;
    vertical-align: top !important;
}

.vp-el-content .img-col > .img-col-mask {
    width: 44px;
    height: 44px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.vp-el-content .img-col > .img-col-mask > img {
    width: 100%;
}

.vp-el-content .info-col,
.comments-el .message-col {
    width: auto;
    display: table-cell;
    vertical-align: top;
    padding: 10px 24px 10px 8px;
    text-align: left;
}

.comments-el .message-col {
    width: auto;
}

.vp-el-content .info-col p {
    margin: 0 0 8px;
}

.vp-el-content .info-col .name,
.comments-el .message-col .name {
    height: 1.167em;
    line-height: 1.167em;
    font-size: 1.167em;
    color: #3db6e1;
    margin: 0;
    font-weight: 700;
    display: inline-block;
    width: 100%;
}

.comments-el .message-col .name {
    color: #3a3a3a;
    width: auto;
}

.comments-el .message-col .m-time {
    float: right;
    color: #3a3a3a;
    font-size: 0.917em;
    font-weight: 600;
}

.comments-el .message-col .name > span {
    color: #3db6e1;
    font-size: 0.786em;
    font-weight: 600;
}

.vp-el-content .info-col .ld {
    opacity: 0.8;
}

.vp-el-content .info-col {
    padding: 10px 0 10px 0;
}

.vp-el-content .info-col > :nth-child(n) {
    padding-left: 8px;
    width: 100%;
}

.vp-el-content .info-col .create-type {
    margin: 0 0 8px;
}

.vp-el-content .info-col .text {
    padding: 0 8px 4px 8px;
    margin: 0 0 4px;
    display: inline-block;
    color: #3a3a3a;
    cursor: pointer;
}

.vp-el-content .info-col .text:hover {
    background: #eaf8fb;
}

.vp-el-content .info-col .name {
    margin-left: 8px;
}

.vp-el-comments {
    width: 95%;
    z-index: 5;
    margin: -5px auto 0;
    padding-top: 4px;
    display: none;
    opacity: 0;
}

.comments-list {
    display: inline-block;
    width: 100%;
}

.comments-el {
    display: none;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
}

.comments-el.last {
    display: inline-block;
}

.comments-el.last:nth-of-type(3) {
    border: none;
}

.show-more-vp,
.show-all-comments {
    display: inline-block;
    background: #cce6f1;
    width: 100%;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    margin-top: 20px;
    color: #3fb6e3;
    font-size: 1em;
    font-weight: 600;
    opacity: 0.8;
    transition: all 300ms;
    cursor: pointer;
}

.show-all-comments {
    background: #f5fbfd;
    margin: 0;
    text-decoration: underline;
    font-weight: 600;
    font-size: 0.917em;
}

.show-all-comments:hover {
    background: #d8f0fa;
}

.show-more-vp:hover,
{
    background: #d5e9f2;
}

.fv-trust-block {
    position: relative;
}

.fv-trust,
.popover-block {
    position: absolute;
    display: none;
    top: -85px;
    right: -160px;
    opacity: 0;
    padding: 0 0 5px;
}

.fv-trust-list {
    display: inline-block;
    text-align: center;
    background: #303031;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    width: 240px;
    height: 75px;
}

.fv-trust-el {
    display: block;
    float: left;
}

.fv-trust-el > a {
    display: inline-block;
    margin: 0 3px;
}

.fv-trust-el.showall {
    clear: left;
}

.fv-trust-el.showall > a {
    font-size: 0.917em;
    color: #ffffff;
    text-align: left;
    width: 100%;
    display: block;
    margin: 8px 0 0 6px;
}

.fv-trust > .angle-icon,
.popover-block > .angle-icon {
    display: block;
    margin: -4px 0 0 40px;
    padding: 0;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
}

.message-answer {
    display: inline-block;
    text-align: left;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    width: 100%;
}

.message-reply {
    display: inline-block;
    width: 100%;
    padding: 5px 0;
}

.message-reply .text {
    width: 420px;
    display: inline-block;
    vertical-align: top;
    padding: 3px 0 0;
}

.message-answer .answer-form {
    display: none;
    opacity: 0;
}

.message-answer .show-answer-form {
    cursor: pointer;
}

.message-reply .user-img,
.message-answer .answer-form .user-img {
    width: 28px;
    height: 28px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    margin: 5px 0;
}

.message-reply .user-img > img,
.message-answer .answer-form .user-img > img {
    width: 140%;
    margin-left: -20%;
}

.message-answer .answer-form input {
    /*width: 330px;*/
    width: 70%;
    height: 28px;
    font-weight: 400;
}

.message-answer .answer-form .enter-answer {
    width: 90px;
    height: 28px;
    line-height: 28px;
}

/*------ gallery-preview -------*/
.gallery-preview {
    display: inline-block;
    width: 100%;
    position: relative;
}

.gallery-preview-el {
    display: inline-block;
    width: 117px;
    height: 117px;
    margin: 0 9px 0 0;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.gallery-preview-el img {
    height: 100%;
}

.galleryBox .item {
    height: auto;
    width: 650px;
    display: inline-block;
    vertical-align: top;
}

.galleryDots .item {
    height: 40px;
    width: 40px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.galleryDots .item.current {
    border: 2px solid #3eb6e2;
}

.galleryDots .item img {
    height: 100%;
    width: auto;
}

.galleryNav .prev,
.galleryNav .next {
    position: absolute;
    height: auto;
    width: 100%;
    background: none;
    top: 0px;
    z-index: 10;
    cursor: pointer;
    left: 0;
    padding: 20px;
}

.galleryNav .next {
    top: 40px;
}


.fr-inbook-menu {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.fr-inbook-menu > a {
    display: table-cell;
    height: 40px;
    width: 70px;
    vertical-align: middle;
    border-right: 32px solid transparent;
    color: #3eb6e2;
    padding: 0 5px;
    opacity: 0.5;
}

.fr-inbook-menu > a:last-of-type {
    border: none;
    width: 26px;
}

.fr-inbook-menu > a i {
    font-size: 18px;
}

.fr-inbook-menu > a.hidden {
    opacity: 0;
}

.fr-inbook.row-list-el:hover a.hidden,
.c-title .body:hover a.hidden {
    opacity: 0.5;
    transition: opacity 300ms;
}

.fr-inbook.row-list-el:hover .fr-inbook-menu > a:hover,
.fr-inbook.row-list-el:hover .fr-inbook-menu > a.hidden:hover,
.c-title .body:hover .fr-inbook-menu > a.hidden:hover,
.c-title .body:hover .fr-inbook-menu > a:hover {
    opacity: 1;
    transition: opacity 300ms;
}

.fr-inbook .fr-inbook-menu > a.hidden {
    transform: scale(0.75);
}

.hidden-menu {
    position: absolute;
    top: 40px;
    right: -25px;
    display: none;
    text-align: left;
    z-index: 99;
    opacity: 0;
}

.hidden-menu > i,
.hidden-menu > img.arrow {
    color: rgba(0, 0, 0, 0.6);
    font-size: 30px;
    position: absolute;
    top: -16px;
    left: 155px;
}

.hidden-menu > img.arrow {
    top: -10px;
}

.hidden-menu > li {
    display: block;
    /*width: 100%;*/
    padding: 0;
    margin: -4px 0;
    text-align: left;
}

.hidden-menu > li > a {
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    display: inline-block;
    padding: 0;
    margin: 0;

}

.hidden-menu > li > a:hover {
    background: rgba(0, 0, 0, 0.4);
    transition: all 300ms;
}

.hidden-menu > li:first-of-type > a {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.hidden-menu > li:last-of-type > a {
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.hidden-menu > li > a > span {
    display: table-cell;
    width: 50px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 300;
}

.hidden-menu > li > a > span:last-of-type {
    width: 150px;
    text-align: left;
}

ul.hidden-menu > li > a:hover + .fr-inbook-menu > a.hidden {
    opacity: 0;
}

div.fr-possible:first-of-type {
    padding: 8px 0;
}

div.fr-possible {
    padding: 0 0 8px;
    margin: 0 0 8px;
    display: inline-block;
    color: #565656;
}

div.fr-possible > p {
    padding: 8px 0 16px;
}

div.fr-possible a.name {
    font-size: 12px;
    text-align: left;
    width: auto;
}

div.fr-possible a.fr-mutual {
    font-size: 11px;
    color: #565656;
    text-align: left;
}

div.fr-possible a.fr-mutual:hover {
    text-decoration: underline;
}

div.fr-possible a.button {
    line-height: 26px;
    height: 26px;
    letter-spacing: normal;
    width: auto;
    float: right;
    font-size: 11px;
}

div.fr-possible > .show-all {
    width: 100%;
    text-align: right;
}

.fr-group-menu a {
    color: #b2b2b2;
    font-size: 16px;
    padding: 0 5px;
    display: inline-block;
    vertical-align: top;
}

.fr-group-menu a:hover {
    color: #7f7f7f;
    transition: color 300ms;
}

.fr-bid-menu a {
    color: #3a3a3a;
    opacity: 0.7;
}

.fr-bid-menu a:hover {
    opacity: 1;
    transition: opacity 300ms;
}

.friend-empty > p {
    font-size: 14px;
    font-weight: 300;
    color: #616161;
    width: 100%;
    text-align: center;
    line-height: 12px;
}

.add-fr-button > img {
    display: inline-block;
    vertical-align: middle;

}

.c-title > .footer {
    background: rgba(61, 182, 225, 0.05);
    padding: 0 5px !important;
}

.c-title > .footer > nav > a {
    color: #484848;
    font-size: 12px;
    padding: 5px 10px;
    border-bottom: 3px solid transparent;
    margin: 0 10px;
    height: auto;
    opacity: 0.5;
}

.c-title > .footer > nav > a > strong {
    font-weight: 800;
    padding: 0 0 0 5px;
}

.c-title > .footer > nav > a.active {
    opacity: 1;
    transition: all 300ms;
    border-bottom: 3px solid #3db6e1;
}

.c-title > .footer > nav > a:hover,
.c-title > .footer > nav > a.active:hover {
    color: #3db6e1;
    opacity: 1;
    transition: all 300ms;
}

.gallery-button {
    cursor: pointer;
    height: 100%;
    padding: 20px;
    position: absolute;
    top: 20px;
    opacity: 0.5;
}

.gallery-button:hover {
    opacity: 1;
}

.gallery-button.close {
    right: 0;
}

.gallery-button.prev {
    left: 0;
}

.hidden {
    display: none;
    opacity: 0;
}

/*----- filter-block -----*/
.filter-block p {
    font-size: 0.917em;
    color: #447080;
    margin: 10px 0;
    font-weight: 700;
    opacity: 0.7;
}

.filter-block > .clear {
    cursor: pointer;
}

.radio-list li:hover {
    background: #ebf8fc;
    transition: background 500ms;
}

.radio-list li.current {
    background: #3eb6e2;
    transition: background 500ms;
}

.progressbar .ui-progressbar {
    width: 100%;
    height: 10px;
    border: none;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: #505050;
}

.progressbar .ui-corner-left {
    background: #3db6e1;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.progressbar .ui-widget-header {
    border: none;
}

.progressbar .ui-widget-header {
    border: none;
}

.ui-progressbar .ui-progressbar-value {
    margin: 0;
}

/*------ other - modif --------*/

.slim {
    line-height: 24px;
    height: 24px;
}

.del-img {
    position: absolute;
    top: 5px;
    left: 55px;
    z-index: 99;
    border: none !important;
    background: #2bdf74;
    color: #ffffff !important;
    border-radius: 50%;
    width: 16px !important;
    height: 16px;
    display: none !important;
}

.del-img.active {
    display: inline-block !important;
}
