@import "header/header.css";
@import "main/main.css";
@import "footer/footer.css";

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: font-size 300ms;
    -moz-transition: font-size 300ms;
    -ms-transition: font-size 300ms;
    -o-transition: font-size 300ms;
    transition: font-size 300ms;
    color: #474747;
    background: #ffffff;
    font-size: 12px;
    font-weight: 600;
}

#wrap {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

section,
header,
main,
footer {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
}
section
{
    display: inline-block;
}
h3 {
    font-size: 14px;
}

p {
    display: inline-block;
}

form {
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0 0 5px;
}

select {
    height: 32px;
    font-size: 11px;
    color: #444444;
    width: 100%;
    padding: 0 4%;
    border: 1px solid #bdcbd1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 5px 0;
}

input {
    width: 100%;
    padding: 0 4%;
    border: 1px solid #bdcbd1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-family: OpenSansRegular, sans-serif;
    font-weight: 600;
    height: 32px;
    margin: 5px 0;
    color: #484848;
}

input:focus,
input:hover {
    border-color: #3fb6e3;
    transition: border-color 300ms;
}

input[type=submit] {
    display: none;
}

input[type=tel] {
    font-size: 11px;
    font-weight: 300;

}

label {
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    margin: 0;
    color: #484848;
    font-size: 0.917em;
    font-weight: 600;
    opacity: 0.7;
}

.button {
    display: inline-block;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 5px 0;
    padding: 0 10px;
    color: #ffffff;
    opacity: 0.9;
    letter-spacing: 1px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.button-ultraslim {
    /*height: 24px;*/
    line-height: 20px;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.55px;
}

.button-slim {
    /*height: 24px;*/
    line-height: 24px;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.55px;
}

.button-middle {
    /*height: 32px;*/
    line-height: 32px;
    font-size: 12px;
    font-weight: 600;
}

.button-bold {
    /*height: 48px;*/
    line-height: 48px;
    font-size: 14px;
    font-weight: 600;
}

.button:hover {
    opacity: 1;
    transition: opacity 300ms;
}

#send-app-form p {
    font-size: 0.917em;
    padding: 0 0 10px;
}

input.hidden-input {
    display: none;
}

input.hidden-input + label {
    display: inline-block;
    width: auto;
    cursor: pointer;
}

.trigger-radio.selected
{
    opacity: 1;
    background: #e8f7f1;
    transition: all 300ms;
}

.vp-photo-del
{
    position: absolute;
    top:-8px;
    left:36px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #a7a7a7;
    opacity: 1;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    color: #ffffff;
    cursor: pointer;
    font-size: 11px;
    text-align: center;
}
.vp-photo-del:hover
{
    opacity: 1;
    transition: opacity 300ms;
}


/*--------- vf-fixed-menu ----------*/
.vf-fixed-menu {
    position: fixed;
    top: 20px;
    left: 30px;
    display: none;
    width: 50px;
    z-index: 10;
}

.vf-fixed-menu > a {
    width: 100%;
    font-weight: 600;
    color: #a9aaac;
    opacity: 0.7;
    font-size: 12px;
    display: inline-block;
    margin: 0 0 24px;
    padding: 0;
}

.vf-fixed-menu > a:hover {
    opacity: 0.95;
    transition: all 300ms;
}

.vf-fixed-menu > a > span {
    display: table-cell;
    height: 16px;
    padding: 0 3px;
    vertical-align: middle;
}

.vf-fixed-menu > a > span.name {
    width: 24px;
    text-align: left;
    transform: scale(0.9);
}

.vf-fixed-menu > a > span > img {
    display: inline-block;
}


/*------ login-block --------*/
.login-block .help {
    padding: 10px 0 0;
}


/*---- filter-block ------*/
.filter-block .title {
    font-size: 1em;
    color: #363636;
    width: 48%;
    display: inline-block;
    text-align: left;
}

.filter-block .clear {
    display: inline-block;
    width: 49%;
    text-align: right;
    font-size: 0.833em;
    cursor: pointer;
}


/*------ gallery-preview -------*/
.gallery-preview {
    display: inline-block;
    width: 100%;
    position: relative;
}

.gallery-preview-el {
    display: inline-block;
    width: 117px;
    height: 117px;
    margin: 0 9px 0 0;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.gallery-preview-el img {
    height: 100%;
}

.galleryBox .item {
    height: auto;
    width: 650px;
    display: inline-block;
    vertical-align: top;
}

.galleryDots .item {
    height: 40px;
    width: 40px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.galleryDots .item.current {
    border: 2px solid #3eb6e2;
}

.galleryDots .item img {
    height: 100%;
    width: auto;
}

.galleryNav .prev,
.galleryNav .next {
    position: absolute;
    height: auto;
    width: 100%;
    background: none;
    top: 0px;
    z-index: 10;
    cursor: pointer;
    left: 0;
    padding: 20px;
}

.galleryNav .next {
    top: 40px;
}


.fr-inbook-menu {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.fr-inbook-menu > a {
    display: table-cell;
    height: 40px;
    width: 70px;
    vertical-align: middle;
    border-right: 32px solid transparent;
    color: #3eb6e2;
    padding: 0 5px;
    opacity: 0.5;
}

.fr-inbook-menu > a:last-of-type {
    border: none;
    width: 26px;
}

.fr-inbook-menu > a i {
    font-size: 18px;
}

.fr-inbook-menu > a.hidden {
    opacity: 0;
}

.fr-inbook.row-list-el:hover a.hidden,
.c-title .body:hover a.hidden {
    opacity: 0.5;
    transition: opacity 300ms;
}

.fr-inbook.row-list-el:hover .fr-inbook-menu > a:hover,
.fr-inbook.row-list-el:hover .fr-inbook-menu > a.hidden:hover,
.c-title .body:hover .fr-inbook-menu > a.hidden:hover,
.c-title .body:hover .fr-inbook-menu > a:hover {
    opacity: 1;
    transition: opacity 300ms;
}

.fr-inbook .fr-inbook-menu > a.hidden {
    transform: scale(0.75);
}

.hidden-menu {
    position: absolute;
    top: 40px;
    right: -25px;
    display: none;
    text-align: left;
    z-index: 99;
    opacity: 0;
}

.hidden-menu > i,
.hidden-menu > img.arrow {
    color: rgba(0, 0, 0, 0.6);
    font-size: 30px;
    position: absolute;
    top: -16px;
    left: 155px;
}

.hidden-menu > img.arrow {
    top: -10px;
}

.hidden-menu > li {
    display: block;
    /*width: 100%;*/
    padding: 0;
    margin: -4px 0;
    text-align: left;
}

.hidden-menu > li > a {
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    display: inline-block;
    padding: 0;
    margin: 0;

}

.hidden-menu > li > a:hover {
    background: rgba(0, 0, 0, 0.4);
    transition: all 300ms;
}

.hidden-menu > li:first-of-type > a {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.hidden-menu > li:last-of-type > a {
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.hidden-menu > li > a > span {
    display: table-cell;
    width: 50px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 300;
}

.hidden-menu > li > a > span:last-of-type {
    width: 150px;
    text-align: left;
}

ul.hidden-menu > li > a:hover + .fr-inbook-menu > a.hidden {
    opacity: 0;
}

div.fr-possible:first-of-type {
    padding: 8px 0;
}

div.fr-possible {
    padding: 0 0 8px;
    margin: 0 0 8px;
    display: inline-block;
    color: #565656;
}

div.fr-possible > p {
    padding: 8px 0 16px;
}

div.fr-possible a.name {
    font-size: 12px;
    text-align: left;
    width: auto;
}

div.fr-possible a.fr-mutual {
    font-size: 11px;
    color: #565656;
    text-align: left;
}

div.fr-possible a.fr-mutual:hover {
    text-decoration: underline;
}

div.fr-possible a.button {
    line-height: 26px;
    height: 26px;
    letter-spacing: normal;
    width: auto;
    float: right;
    font-size: 11px;
}

div.fr-possible > .show-all {
    width: 100%;
    text-align: right;
}

.fr-group-menu a {
    color: #b2b2b2;
    font-size: 16px;
    padding: 0 5px;
    display: inline-block;
    vertical-align: top;
}

.fr-group-menu a:hover {
    color: #7f7f7f;
    transition: color 300ms;
}

.fr-bid-menu a {
    color: #3a3a3a;
    opacity: 0.7;
}

.fr-bid-menu a:hover {
    opacity: 1;
    transition: opacity 300ms;
}

.friend-empty > p {
    font-size: 14px;
    font-weight: 300;
    color: #616161;
    width: 100%;
    text-align: center;
    line-height: 12px;
}

.add-fr-button > img {
    display: inline-block;
    vertical-align: middle;

}

.c-title > .footer {
    background: rgba(61, 182, 225, 0.05);
    padding: 0 5px !important;
}

.c-title > .footer > nav > a {
    color: #484848;
    font-size: 12px;
    padding: 5px 10px;
    border-bottom: 3px solid transparent;
    margin: 0 10px;
    height: auto;
    opacity: 0.5;
}

.c-title > .footer > nav > a > strong {
    font-weight: 800;
    padding: 0 0 0 5px;
}

.c-title > .footer > nav > a.active {
    opacity: 1;
    transition: all 300ms;
    border-bottom: 3px solid #3db6e1;
}

.c-title > .footer > nav > a:hover,
.c-title > .footer > nav > a.active:hover {
    color: #3db6e1;
    opacity: 1;
    transition: all 300ms;
}

.gallery-button {
    cursor: pointer;
    height: 100%;
    padding: 20px;
    position: absolute;
    top: 20px;
    opacity: 0.5;
}

.gallery-button:hover {
    opacity: 1;
}

.gallery-button.close {
    right: 0;
}

.gallery-button.prev {
    left: 0;
}

.hidden {
    display: none;
    opacity: 0;
}

/*----- filter-block -----*/
.filter-block p {
    font-size: 0.917em;
    color: #447080;
    margin: 10px 0;
    font-weight: 700;
    opacity: 0.7;
}

.filter-block > .clear {
    cursor: pointer;
}

.radio-list li:hover {
    background: #ebf8fc;
    transition: background 500ms;
}

.radio-list li.current {
    background: #3eb6e2;
    transition: background 500ms;
}

.progressbar .ui-progressbar {
    width: 100%;
    height: 6px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: #ffffff;
    border: 1px solid #3db6e1;
}

.progressbar .ui-corner-left {
    background: #3db6e1;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.progressbar .ui-widget-header {
    border: none;
}

.progressbar .ui-widget-header {
    border: none;
}

.ui-progressbar .ui-progressbar-value {
    margin: 0;
}

/*------ other - modif --------*/

.slim {
    line-height: 24px;
    height: 24px;
}

.del-img {
    position: absolute;
    top: 5px;
    left: 55px;
    z-index: 99;
    border: none !important;
    background: #2bdf74;
    color: #ffffff !important;
    border-radius: 50%;
    width: 16px !important;
    height: 16px;
    display: none !important;
}

.del-img.active {
    display: inline-block !important;
}
