/*----- HEADER -------*/
#header {
    background: #3db6e1;
    height: 40px;
    position: relative;
    z-index: 10;
}

#header .c-block {
    background: #3db6e1;
}

#header .logo-block {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 40px;
    vertical-align: middle;
    position: relative;
}

#header .logo-block a {
    display: table-cell;
    height: 40px;
    vertical-align: middle;
}

#header .logo-block a.logo {
    width: 170px;
    padding: 0 0 0 10px;
}

#header .logo-block > .logo-f {
    padding: 0 10px;
    cursor: pointer;
    color: #ffffff;
}

#header .logo-block > .logo-f:hover {
    background: #3aadd6;
    transition: background 300ms;
}

#header .logo > img {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 33px;
    vertical-align: middle;
}

/*---- user-profile ------*/
.user-profile {
    display: inline-block;
    cursor: pointer;
    padding: 0;
}

.user-profile .user-name,
.user-profile .img-mask,
.user-profile i {
    display: inline-block;
    /*height: 40px;*/
    line-height: 28px;
    margin: 6px;
    vertical-align: middle;
    color: #ffffff;
}

.user-profile .img-mask {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    width: 28px;
    height: 28px;
}

.user-profile .img-mask > img {
    width: 140%;
    margin-left: -20%;
}

.user-profile-menu {
    position: absolute;
    top: 47px;
    right: -2px;
    z-index: 999;
    display: none;
    opacity: 0;
    background: #ffffff;
    white-space: nowrap;
    padding: 5px 0;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.user-profile-menu > a {
    display: block;
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 10px 10px;
    color: #363636;
}

.user-profile-menu > a:hover {
    background: #e0edf3;
    transition: background 300ms;
    /*color: #3db6e1;*/
}

.user-profile-menu a > i,
.user-profile-menu a > p {
    display: inline-block;
    padding: 0 5px;
    font-size: 1em;
}

.angle-icon {
    position: absolute;
    top: -8px;
    right: 32px;
    color: #ffffff;
}