
.hidden-menu-block {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.hidden-menu-block > a {
    display: table-cell;
    height: 40px;
    /*width: 70px;*/
    vertical-align: middle;
    border-right: 32px solid transparent;
    color: #3eb6e2;
    padding: 0 5px;
    opacity: 0.5;
}

.hidden-menu-block > a:last-of-type {
    border: none;
    width: 26px;
}

.hidden-menu-block > a i {
    font-size: 18px;
}

.hidden-menu-block > a.hidden {
    opacity: 0;
}

.fr-inbook.row-list-el:hover a.hidden,
.hidden-menu-row:hover a.hidden {
    opacity: 0.5;
    transition: opacity 300ms;
}

.fr-inbook.row-list-el:hover .hidden-menu-block > a:hover,
.fr-inbook.row-list-el:hover .hidden-menu-block > a.hidden:hover,
.hidden-menu-row:hover .hidden-menu-block > a.hidden:hover,
.hidden-menu-row:hover .hidden-menu-block > a:hover {
    opacity: 1;
    transition: opacity 300ms;
}

.fr-inbook .hidden-menu-block > a.hidden {
    transform: scale(0.75);
}

.sub-menu {
    position: absolute;
    display: none;
    text-align: left;
    z-index: 99;
    opacity: 0;
    width: auto;
}

.sub-menu > i,
.sub-menu > img.arrow {
    color: rgba(0, 0, 0, 0.6);
    font-size: 30px;
    position: absolute;
    top: -12px;
    left: 130px;
}

.sub-menu > ul > img.arrow {
    top: -10px;
}

.sub-menu > ul > li > a {
    background: rgba(0, 0, 0, 0.6);
    /*color: #ffffff;*/
    display: block;
    /*padding: 0;*/
    /*margin: 0;*/
    white-space: nowrap;
}

.sub-menu > ul > li > a:hover {
    background: rgba(0, 0, 0, 0.4);
    transition: all 300ms;
}

.sub-menu > ul > li:first-of-type > a {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.sub-menu > ul > li:last-of-type > a {
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

.sub-menu > ul > li > a > span {
    display: inline-block;
    width: 40px;
    /*height: 40px;*/
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 300;
}

.sub-menu > ul > li > a > span:last-of-type {
    width: auto;
    text-align: left;
    padding: 0 10px 0 0;
}

.sub-menu > ul > li > a:hover + .hidden-menu-block > .hidden {
    opacity: 0;
}
