@import "stopButton.css";
@import "imgMask.css";
@import "searchBlock.css";
@import "sidebar.css";
@import "regBlock.css";
@import "rowList.css";
@import "tabs.css";
@import "socBlock.css";
@import "../add/icheck-blue.css";
@import "../add/icheck-green.css";
@import "../add/select.css";
@import "../add/font-awesome.min.css";
@import "../add/owl.carousel.min.css";
@import "../add/jquery.scrollbar.css";
@import "../add/intlTelInput.css";
@import "../add/component.css";

.c-block {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 980px;
    text-align: center;
    position: relative;
}

.content,
.regBlock,
.wide-block {
    display: block;
    position: relative;
    float: left;
}

.content {
    width: 620px;
    margin: 0 20px 0 20px;
}

.regBlock,
.wide-block {
    width: 780px;
    margin: 0 0 0 20px;
}

.img-col,
.data-col {
    display: table-cell !important;
    vertical-align: middle !important;
    line-height: normal !important;
    position: relative;
}

.data-col {
    padding: 0 10px !important;
}

h3.name,
a.name {
    font-size: 14px;
    font-weight: 700;
    padding: 1px 0 !important;
    line-height: normal !important;
}

a.name:hover,
a .name:hover {
    text-decoration: underline;
}

p.loc,
.date {
    opacity: 0.8;
    font-size: 12px;
    padding: 1px 0;
    line-height: normal !important;
}