.regBlock h3 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    /*width: 100%;*/
    text-align: left;
}

.regBlock .reg-step {
    display: inline-block;
    width: 100%;
    margin: 0;
    border: 1px solid #e5e5e5;
    border-top: none;
}

.regBlock .reg-step > .title,
.regBlock .reg-step > .body {
    color: #545454;
    display: inline-block;
}

.regBlock .reg-step > .title h3 > i {
    font-size: 24px;
    padding: 0 5px;
    line-height: 24px;
}

.regBlock .reg-step > .body {
    min-height: 450px;
    width: 100%;
    margin: -6px 0 0;
    padding: 20px 0 0;
    text-align: center;
}

.regBlock .reg-step > .title > div {
    width: 267px;
    display: table-cell;
    text-align: left;
    padding: 20px;
    background: none;
    color: #8a8b8c;
    border: none;
}

.regBlock .reg-step > .title > div.active,
.regBlock .reg-step > .body {
    background: #f9f9f9;
}

.regBlock .reg-step .form-group-title {
    width: 100%;
    display: inline-block;
    text-align: left;
    margin: 0 0 20px;
    border-bottom: 1px solid #e7ecf0;
}

.reg-form,
.form-row {
    display: inline-block;
    width: 100%;
    text-align: left;
    position: relative;
}

.form-group {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    position: relative;
}

.reg-form label,
.reg-form input,
.reg-form a,
.reg-form p {
    display: inline-block;
    font-size: 11px;
}

.reg-form label {
    text-align: right;
    font-weight: 600;
    font-size: 11px;
    padding: 0 5px;
    color: #484848;
    opacity: 1;
}

.reg-form input {
    width: 200px;
    padding: 0 5px;
}

.required-icon {
    width: 10px;
    color: #484848;
    font-size: 14px;
    padding: 0;
    top: -5px;
    position: relative;
}

.reg-form p.input-alert {
    color: #df6352;
}

input.input-alert,
input.mobile-number.input-alert {
    border-color: #df6352;
}

.req-desc {
    padding-left: 255px !important;
    font-size: 11px;
    text-align: left;
}

.user-exists {
    width: auto;
    display: inline-block;
    margin: 0;
    text-align: left;
}

.user {
    display: inline-block;
}

textarea {
    font-size: 12px;
    border: 1px solid #c5d1d5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #a0a0a0;
    resize: none;
    /*margin-bottom: 10px;*/
    padding: 5px;
    font-family: OpenSansRegular, sans-serif;
    position: relative;
    overflow: hidden;
}

textarea.chartLeftArea {
    padding: 5px 30px 5px 5px;
    height: 80px;
}

.charsLeft {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    color: #a0a0a0;
    font-size: 12px;
    top: 60px;
    left: 373px;
    font-weight: 400;
}

.form-group .load-avatar
{
    position: absolute;
    top:96px;
    left: 70px;
}