.row-list {
    display: inline-block;
    width: 100%;
    position: relative;
}

.row-list-el {
    display: inline-block;
    width: 100%;
    /*border-bottom: 1px solid #f2f2f2;*/
    padding: 0;
    position: relative;
}

/*.row-list-el:last-of-type,*/
/*.row-list-el:last-of-type .footer */
/*{*/
    /*border: none;*/
/*}*/

.row-list-el.fr-inbook,
.row-list-el.fr-offer,
.row-list-el.fr-group,
.row-list-el.fr-bid {
    padding: 10px;
}

.row-list-7el-mini {
    height: 154px;
}

.row-list-10el {
    height: 424px;
}

.row-list-11el {
    height: 476px;
}

.row-list-7el {
    height: 330px;
}

.row-list-6el {
    height: 250px;
}

.row-list-5el {
    height: 250px;
}

.row-list-4el {
    height: 196px;
}

.row-list-3el {
    height: 120px;
}

.row-list-2el {
    height: 128px;
}

.row-list-5el .title,
.row-list-2el .title {
    padding: 10px 0;
}

.fv-trust-frList {
    height: 396px;
}

.bd-gor-list {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}

.bd-gor-list > li {
    border-bottom: 1px solid #ececec;
}

.bd-gor-list > li:last-child {
    border-bottom: none;
}

.hovered-list li.current,
.hovered-list li:hover
{
    background: #e2f4fb;
}

.vp-photo-list,
.vp-photo-list-el {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    text-align: left;
}

.vp-photo-list-el {
    margin: 8px;
    vertical-align: top;
    text-align: left;
}

.vp-photo-list-el:last-of-type {
    margin: 8px 0 8px 8px;
}

.vp-photo-list-el:first-of-type {
    margin: 8px 8px 8px 0;
}