.search-block {
    width: 100%;
    height: 32px;
    display: inline-block;
    border: 1px solid #c0ccd0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0;
    background: #ffffff url('../../images/icons/search-icon-gray.png') no-repeat 10px 8px;
    -webkit-background-size: 14px;
    background-size: 14px;
    padding: 0px 10px 0px 32px;
    position: relative;
}

.search-block-top {
    background: #ffffff url('../../images/icons/search-icon-gray.png') no-repeat 10px 7px;
    border: none;
    height: 28px;
}

.clear_input_div {
    position: relative;
    margin-right: 20px;
}

.clear_input {
    font-size: 20px;
    font-weight: 300;
    color: #363636;
    opacity: 0.5;
}

.clear_input:hover {
    opacity: 0.7;
}

.search-block input::-webkit-input-placeholder {
    font-family: OpenSansRegular, sans-serif;
    font-size: 12px;
    color: #949494;
    opacity: 0.5;
    font-weight: 300;
}

.search-block input::-moz-placeholder {
    font-family: OpenSansRegular, sans-serif;
    font-size: 12px;
    color: #949494;
    opacity: 0.5;
    font-weight: 300;
}

/* Firefox 19+ */
.search-block input:-moz-placeholder {
    font-family: OpenSansRegular, sans-serif;
    font-size: 12px;
    color: #949494;
    opacity: 0.5;
    font-weight: 300;
}

/* Firefox 18- */
.search-block input:-ms-input-placeholder {
    font-family: OpenSansRegular, sans-serif;
    font-size: 12px;
    color: #949494;
    opacity: 0.5;
    font-weight: 300;
}

.search-block .search-line {
    border: none;
    font-family: OpenSansRegular, sans-serif;
    font-size: 12px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.search-block .search-line {
    height: 30px;
}

.search-block-top .search-line {
    height: 28px;
}