.tabSsection {
    width: 100%;
    display: inline-block;
}

.tabs {
    list-style: none;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0 0 -4px;
}

.tabs li {
    display: block;
    float: left;
    font-size: 12px;
    height: 32px;
    font-weight: 300;
    margin: 0;
    padding: 5px 0;
    width: 50%;
    color: #9b9c9d;
    cursor: pointer;
    position: relative;
    transition: all 500ms;
    text-align: center;
    border-bottom: 1px solid #cccccc;
}

.tabs li.current {
    color: #3db6e1;
    font-weight: 600;
    border-bottom: 2px solid #3db6e1;
}

.tabs.tabs-blue li {
    border: none;
    color: #363636;
    font-weight: 600;
    padding: 0;
    line-height: 32px;
    margin-right: 5px;
}

.tabs.tabs-blue li:hover {
    color: #3db6e1;
    transition: color 150ms;
}

.tabs.tabs-blue li.current {
    background: #3db6e1;
    color: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.tab-box {
    display: inline-block;
    text-align: left;
    width: 100%;
    opacity: 1;
}

.tab-box.hidden {
    display: none;
    opacity: 0;
}

.tabs-title a {
    margin: 5px 0;
    padding: 0 10px 0 0;
    font-size: 12px;
    font-weight: 400;
    color: #8d8d8d;
    height: 32px;
    line-height: 32px;
}

.tabs-title a.current {
    color: #3db6e1;
    font-weight: 700;
}

.tabs-title .button {
    width: auto;
    padding: 0 10px;
    color: #8d8d8d !important;
    font-size: 12px;
    background: #ffffff;
    border: 1px solid #3db6e1;
    border-left: none;
    border-right: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    display: block;
    float: left;
    letter-spacing: normal;
}
.tabs-title .button:first-of-type
{
    border-left: 1px solid #3db6e1;
    border-right: none;
}
.tabs-title .button:last-of-type
{
    border-right: 1px solid #3db6e1;
    border-left: none;

}
.tabs-title .button.current {
    background: #3db6e1;
    color: #ffffff !important;
}

.tabs-title .button:first-of-type {
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

.tabs-title .button:last-of-type {
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}